<div class="container" style="max-width: 600px;">
  <h2 class="text-center mb-3">Exercises</h2>
  <p>Select a workout type to log:</p>
  <ul>
    <li><a href="/cardio">Cardio Workouts</a></li>
    <li><a href="/bodyweight">Bodyweight Workouts</a></li>
    <li><a href="/weightlifting">Weightlifting Workouts</a></li>
  </ul>
</div>