{{! Home page }}
<h2>Welcome to the Fitness App</h2>
<p>You can access all head pages from here:</p>
<nav>
    <ul>
        <li><a href="/register">Registration</a></li>
        <li><a href="/exercises">Exercises</a></li>
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="/milestones">Milestones</a></li>
        <li><a href="/movement-library">Movement Library</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>